<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/competences">Compétences</a></li>
        <li><a href="/presentation">Présentation</a></li>
        <li><a href="/soft-skills">Soft Skills</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <!-- Ajoute des informations de pied de page ici -->
  </footer>
</body>
</html>

